*{
    padding: 0;
    margin: 0;
    list-style: none;
}
.selectbox{
    width: 200px;
    height: auto;
}
.selectinput{
    width: 100%;
    border: 1px solid #000000;
    border-radius: 10px;
}
.selectinput input{
   border: none;
    outline: none;
    width: 100%;height: 100%;
    padding: 0;
    margin: 0;
    font-size: 10px;
}
.selectlist {
    margin-top: 10px;
    width: 100%;
}
.selectlist li{
    width: 100%;
    height: 25px;
    border: 1px solid #000000;
}