<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js"></script>
    <script src="select.js"></script>
    <link rel="stylesheet" href="select.css">
</head>
<body>
<div id="root">
<div class="selectbox">
    <div class="selectinput" >
    <input type="text" @focus="focus" v-model="title">
</div>
    <ul class="selectlist" v-show="this.status==true">
        <li v-for="item in datas" @click="click(item.title)">{{item.title}}</li>
    </ul>


</div>
</div>

</body>
<script>
    new Vue({
        el: '#root',
        data:{
            datas:[
                {
                    id:1,
                    title:1111,
                },
                {
                    id:2,
                    title:111221,
                },
                {
                    id:3,
                    title:11123441,
                }
            ],
            status:false,
            title:""
        },
        methods:{
            focus:function () {
                this.status=true
            },
            blur(){
                this.status=false
            },
            click(val){
                this.title=val;
                this.status=false
            }
        }
    })

</script>
</html>